<h1 class="text-center" style="font-size: 30px;"> Employee Management System </h1>
<div class="container">
<div class="head">
<h3>Acheivements</h3></div>
<div class="space">
    <img src="https://us.123rf.com/450wm/magurok/magurok2011/magurok201100004/159389721-reward-group-of-people-and-happy-man-sitting-in-gold-trophy-cup-award-best-worker-happy-businessman-.jpg?ver=6" alt="index" class="space2">
  <br>
  <p>
    <a class="text"></a> We develop partnerships with leading companies and organizations from around the globe to complement our expertise and deliver breakthrough results.<br>
</p>
<img src=" https://us.123rf.com/450wm/dihard909/dihard9091910/dihard909191000490/132595468-man-and-woman-vector-business-reward-satisfaction-employee-feedback-graphic-illustration-leader-comp.jpg?ver=6" alt="index" class="space2">
   <br>   
       <p> <a class="text"></a> The records are maintained in registers.Time consuming process. Complicated searching, editing & updating.Helps in maintaining the computerized employee details and to visually persuade, promote, and inform.
       </p>
       <img src=" https://us.123rf.com/450wm/denyshutter/denyshutter2005/denyshutter200500040/147389219-achievement-win-podium-vector-illustration-cartoon-flat-happy-winner-character-jumping-on-first-plac.jpg?ver=6" alt="index" class="space2">
       <br>
       <p><a class="text"></a>We have long-lasting partnerships and affiliations with like-minded organizations and leaders share our commitment to deliver lasting results.</p>
   <br>   
   <img src="https://image.shutterstock.com/image-vector/team-tiny-office-people-employees-260nw-1936828459.jpg" alt="index" class="space2">
       <br>
       <p><a class="text"></a>To summarize, employee success is proactive enablement of the best employee experience throughout the employee lifecycle.</p>
   <br>    
   <img src="https://image.shutterstock.com/image-vector/leadership-business-success-flat-vector-260nw-1442624411.jpg" alt="index" class="space2">
       <br>
       <p><a class="text"></a> It includes strategic planning on how to support employees in a way that allows them to do their best work and facilitate a high level of productivity and engagement.</p>
   <br>  
</div>
</div>